.profileCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.hexagonImage {
  position: absolute;
  background-image: url(http://www.math.uni-frankfurt.de/~person/_4170854.jpg);
  background-size: auto 160px;
  background-position: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
  .hexagonImage.hexagonImage--profile {
    width: 140px;
    height: 160px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 12.5px); }

.profileCard__hexagonBorderContainer {
  position: relative;
  width: 275px;
  height: 92.38px;
  padding-top: 1px;
  overflow: hidden; }

.profileCard__hexagonBorder {
  position: relative;
  width: 160px;
  height: 92.38px;
  background-color: #ffffff;
  margin: 46.19px 0;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333; }
  .profileCard__hexagonBorder:before, .profileCard__hexagonBorder:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 113.14px;
    height: 113.14px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 22.4315px; }
  .profileCard__hexagonBorder:before {
    top: -56.5685px;
    border-top: solid 1.4142px #333333;
    border-right: solid 1.4142px #333333; }
  .profileCard__hexagonBorder:after {
    bottom: -56.5685px;
    border-bottom: solid 1.4142px #333333;
    border-left: solid 1.4142px #333333; }
  .profileCard__hexagonBorder.profileCard__hexagonBorder--topHalf {
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333; }
    .profileCard__hexagonBorder.profileCard__hexagonBorder--topHalf:before {
      border-top: solid 1.4142px #333333;
      border-right: solid 1.4142px #333333; }
    .profileCard__hexagonBorder.profileCard__hexagonBorder--topHalf:after {
      border-bottom: solid 1.4142px #333333;
      border-left: solid 1.4142px #333333; }
  .profileCard__hexagonBorder.profileCard__hexagonBorder--bottomHalf {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -92.38px);
    background-color: #303642;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff; }
    .profileCard__hexagonBorder.profileCard__hexagonBorder--bottomHalf:before {
      border-top: solid 1.4142px #ffffff;
      border-right: solid 1.4142px #ffffff; }
    .profileCard__hexagonBorder.profileCard__hexagonBorder--bottomHalf:after {
      border-bottom: solid 1.4142px #ffffff;
      border-left: solid 1.4142px #ffffff; }

.profileCard__hexagonBorderBottomHalf:before {
  top: -56.5685px;
  border-top: solid 1.4142px #ffffff;
  border-right: solid 1.4142px #ffffff; }
.profileCard__hexagonBorderBottomHalf:after {
  bottom: -56.5685px;
  border-bottom: solid 1.4142px #ffffff;
  border-left: solid 1.4142px #ffffff; }

.profileCard__body {
  position: relative;
  width: 275px;
  height: 400px;
  overflow: hidden; }

.profileCard__background {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #303642; }

.profileCard__whiteBorder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 375px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center; }

.iconContainer.iconContainer--center {
  display: flex;
  align-items: center;
  justify-content: center; }
.iconContainer.iconContainer--profileMain {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 15px; }
.iconContainer.iconContainer--profileSocial {
  flex: 1;
  backface-visibility: hidden; }
.iconContainer.iconContainer--facebook {
  background-color: #3b5998; }
.iconContainer.iconContainer--twitter {
  background-color: #55acee; }
.iconContainer.iconContainer--linkedin {
  background-color: #0077b5; }
.iconContainer.iconContainer--animationBump:hover .iconContainer__icon:before {
  -webkit-animation: bump .25s ease-in-out;
  -moz-animation: bump .25s ease-in-out;
  animation: bump .25s ease-in-out;
  cursor: pointer; }

@keyframes bump {
  33% {
    transform: scale(1.3); }
  66% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
.iconContainer__icon {
  color: white;
  font-size: 1.9em; }
  .iconContainer__icon.iconContainer__icon--profileIcon {
    color: #828999; }
  .iconContainer__icon.iconContainer__icon--profileSocial {
    color: white;
    font-size: 1.2em; }

.textContainer p {
  font-weight: 100;
  color: white;
  font-size: 1em; }
.textContainer.textContainer--center {
  display: flex;
  align-items: center;
  justify-content: center; }
.textContainer.textContainer--profilePosition {
  height: 20px;
  width: 100%;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 2.5px; }
.textContainer.textContainer--profileCompany {
  height: 10px;
  width: 100%;
  margin-top: 2.5px;
  margin-bottom: 15px; }
  .textContainer.textContainer--profileCompany p {
    font-size: 0.65em; }
.textContainer.textContainer--profileName {
  width: 100%;
  height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 2.5px; }
.textContainer.textContainer--profileEmail {
  width: 100%;
  height: 10px;
  margin-top: 2.5px; }
  .textContainer.textContainer--profileEmail p {
    font-size: 0.65em; }

.horizontalDivider {
  height: 1px;
  width: 120px;
  background-color: white; }
  .horizontalDivider.horizontalDivider--profile {
    margin-top: 15px;
    margin-bottom: 15px; }

.profileCard__socialMediaContainer {
  position: relative;
  bottom: 0;
  width: 275px;
  height: 50px; }

.profileCard__flexWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Gotham";
  font-style: normal; }

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Book.otf") format("opentype");
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Light.otf") format("opentype");
  font-weight: 300; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Medium.otf") format("opentype");
  font-weight: 500; }

/*# sourceMappingURL=main.css.map */
