.caseStudy{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}

.caseStudy__wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 610px;
}

.caseStudy__story{
	order: 0;
	width: 300px;
	height: 410px;
}

.caseStudy__QandA{
	order: 1;
	width: 300px;
	height: 410px;
}

.caseStudy__storyProgressWrapper{
	height: 30px;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	&.caseStudy__storyProgressWrapper--story{
		justify-content: center;
		align-items: center;
	}
	&.caseStudy__storyProgressWrapper--question{
		align-items: center;
	}
}
.progressBar{
	height: 5px;
	width: 200px;
	background-color: #303642;
}
.progressBar__current{
	height: 100%;
	width: 0%;
	background-color: #00999e;
}

.caseStudy__questionDeckOuter{
	margin-top: 2.5px;
	position: relative;
	overflow: hidden;
	height: 315px;
}
.caseStudy__questionDeckInner{
	display: flex;
	flex-direction: row;

	position: absolute;
	left: 0px;
	transition: left 0.3s;
}

.caseStudy__questionCard{
	width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	&:first-child{
		margin-left: 0px;
	}
	&:last-child{
		margin-right: 0px;
	}
}


.iconContainer{
	.iconContainer__icon{
		&.iconContainer__icon--storyDown{
			position: absolute;
			font-size: 0.8em;
			top: 50%;
			left: 50%;
			transform: translate(-50%,calc(-50% + 1px));
			color: #303642;
			transition: opacity 0.3s;
		}
		&.iconContainer__icon--storyUp{
			position: absolute;
			font-size: 0.8em;
			top: 50%;
			left: 50%;
			transform: translate(-50%, calc(-50% + 1px));
			color: #303642;
			opacity: 0.3;
			transition: opacity 0.3s;
		}
		&.iconContainer__icon--questionLeft{
			position: absolute;
			font-size: 0.8em;
			top: 50%;
			left: 50%;
			transform: translate(-50%,calc(-50% + 1px));
			color: #303642;
			opacity: 0.3;
			transition: opacity 0.3s;
		}
		&.iconContainer__icon--questionRight{
			position: absolute;
			font-size: 0.8em;
			top: 50%;
			left: 50%;
			transform: translate(-50%,calc(-50% + 1px));
			color: #303642;
			transition: opacity 0.3s;
		}
	}

	//modifiers
	&.iconContainer--storyDown{
		position: relative;
		height: 5px;
		width: 10px;
		margin-left: 1px;
	}
	&.iconContainer--storyUp{
		position: relative;
		height: 5px;
		width: 10px;
		margin-left: 10px;
		margin-right: 1px;
	}
	&.iconContainer--questionLeft{
		position: relative;
		height: 5px;
		width: 10px;
		margin-left: 10px;
	}
	&.iconContainer--questionRight{
		position: relative;
		height: 5px;
		width: 10px;
		margin-right: auto;
	}
}


.textContainer{
	&.textContainer--title{
		margin-bottom: 5px;
		p{
			font-size: 2.3em;
			color: #303642;
		}
	}
	&.textContainer--storyText{
		margin-top: 2.5px;
		height: 315px;
		overflow-y: scroll;
		overflow-x: hidden;
		p{
			font-size: 0.98em;
			padding-right: 10px;
			color: #303642;
		}
	}
	&.textContainer--questionText{
		height: 90px;
		p{
			font-size: 0.98em;
			color: #303642;
		}
	}
	&.textContainer--casePageNumber{
		margin-right: 10px;
		p{
			font-size: 0.62em;
			color: #303642;
			font-weight: 300;
		}
	}
}

.textArea{
	.textArea__textbox{
		font-weight: 100;
		color: white;
		font-size: 1em;
		&.textArea__textbox--caseAnswer{
			transform: translate(15px,15px);
			height: calc(100% - 30px);
			width: calc(100% - 30px);
			padding-right: 15px;
			background-color: #303642;

			resize: none;
			outline: none;

			font-size: 0.8em;
			color: gray;

			&::placeholder{
				color: gray;
			}
		}
	}
	//modifiers
	&.textArea--caseAnswer{
		width: 100%;
		height: 225px;
		background-color: #303642;
	}
}

.textContainer__greenText{
	color: #00999e;
}