//block
.header{
	position: absolute;
	top: 0;
	width: 100%;
}

.footer{
	position: absolute;
	width: 100%;
	bottom: 0;
}

.textContainer{
	&.textContainer--footerPageTitle{
		//positioning
		position: absolute;
		left: 15px;
		bottom: 20px;

		//capitalize letters
		text-transform: uppercase;
		p{
			font-size: 1.5em;
			color: #16191d;
		}
	}
}

.footer__angleBlock{
	background-color: #16191d;
	height: 35px;
	clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
}

.header__flexWrapper{
	display: flex;
	position: absolute;
	flex-direction: row;
	right: 0;
	height: 30px;
	margin-top: 10px;
	margin-right: 10px
}

.header__logo{
	position: relative;
	height: 30px;
	order: 1;

}

.textContainer--headerBootkik{
	position: relative;
	//move text tiny bit down
	margin-top: 5px;
	//padding between logo and text
	margin-left: 5px;
	margin-right: 5px;


	order: 2;

	p{
		color: #16191d;
		font-size: 1.4em;
		font-weight: 500;
	}
}

.textContainer--hidden{
	display: none;
}